.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.red {
  background-color: rgb(255, 45, 45);
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 9px;
}
.green {
  background-color: rgb(14, 235, 14);
  height: 50px;
  width: 100px;
  border-radius: 9px;
}
